.modalBox {
  width: 800px;
  max-height: 80vh;
  background-color: black;
  color: white;
  padding: 16px;
  position: relative;
  border-radius: 8px;
  overflow-y: auto; /* Permite el desplazamiento vertical */
}

.modalContent {
  margin-bottom: 16px;
}

.errorPopup {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.movieInfoModal {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
}

.poster {
  height: 150px;
  width: auto;
}

.selector {
  background-color: #000;
  color: #fff;
}

/* Estilos personalizados para la barra desplazadora */
.modalBox::-webkit-scrollbar {
  width: 12px;
}

.modalBox::-webkit-scrollbar-track {
  background: #000; /* Color de fondo de la barra */
}

.modalBox::-webkit-scrollbar-thumb {
  background-color: #444; /* Color de la barra */
  border-radius: 6px;
  border: 2px solid #000; /* Borde alrededor de la barra */
}
