/* src/components/NavBar/NavBar.module.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-left: 20px;
}

.logo img {
  height: 40px;
}

.links {
  display: flex;
  gap: 20px;
  flex-grow: 1;
  justify-content: center;
}

.navLink {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.actions {
  display: flex;
  gap: 10px;
  margin-right: 30px;
}

.navButton {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.navButton:hover {
  background-color: #f40612;
}

.dropdown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #000;
  border: 1px solid #444;
  z-index: 1000;
}

.dropdownItem {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #555;
}
